* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#start-btn {
    padding: 20px 40px 20px 80px;
    border-radius: 10px;
    background: url("./thanos.png") white 15px no-repeat;
    background-size: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 50%;
}

#start-btn:hover {
    /*transform: rotate3d(1, 1, 1, 45deg);*/
}

.dust {
    position: absolute;
}
